<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Template.css">
  <script src="Fudge/FudgeCore.js"></script>
  <script src="FudgeStory/FudgeStory.js"></script>
  <script src="./Build/Template.js"></script>
  <title>I can't stop crying in my sleep</title>
  <splash src="Images/Splash.png"/>
</head>

<body>
  <scene>
    <canvas></canvas>

    <speech>
      <name></name>
      <content></content>
    </speech>

    <dialog type="text">
      The content of a page of text for reading
    </dialog>

    <dialog type="inventory">
      <button type="button">close</button>
      <ul>
        <li>Fishy fish</li>
        <li>b</li>
        <li>c</li>
        <li>d</li>
        <li>e</li>
      </ul>
    </dialog>

    <dialog id="gameMenu">
      <button></button>
    </dialog>
    
  </scene>
</body>

</html>